@import url(../css/reset.min.css);

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    color: #222222;
    font-family: 'Pretendard';
}

body.menu-open {
    overflow: hidden;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

h2,
h3,
h4,
p {
    line-height: 1.3;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    background: rgba(255, 255, 255, 0.9);
}

body {
    padding-top: 70px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    list-style-type: none;
}

.header-menu>li>a {
    text-decoration: none;
    color: #202020;
}

.hamburger-btn {
    display: none;
}

.close-btn {
    display: none;
}

.logo a {
    display: block;
}

.logo img {
    height: 70px;
}

.hamburger-btn {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    cursor: pointer;
    color: #6ab0ff;
    font-size: 24px;
}

.header-menu li:hover a {
    color: #6A68E0;
    font-weight: 700;
}


/* kv */
.phone-img.animate__pulse {
    --animate-duration: 3s;
}

.animate__pulse {
    --animate-duration: 2s;
}

.kv-sec {
    min-height: 50vh;
    padding: 60px 0;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(152, 134, 255, 0.3), rgba(201, 226, 255, 0.3));
}

.kv-sec>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kv-text {
    padding: 10px 0;
}


.kv-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 15px;
}

.kv-desc {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
}

.kv-btn-sec {
    display: flex;
}

.kv-text {
    display: flex;
    flex-direction: column;
}

.kv-btn-sec {
    display: flex;
    gap: 15px;
}

.kv-image img {
    max-width: 600px;
    width: 100%;
    display: block;
    transition: width 0.5s ease-in-out;
}

.kv-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

.btn-right {
    background-color: #9886FF;
    color: #fff;
}

.btn-left {
    background-color: #C9E2FF;
    color: #202020;
}

.kv-btn.btn-right:hover {
    background-color: #6449ff;
}

.kv-btn.btn-left:hover {
    background-color: #6ab0ff;
}

/* about */
.about-sec {
    margin-top: 120px;
}

.about-text {
    text-align: center;
}

.about-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about-subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
    font-weight: 600;
}

.about-card-wrap {
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
}

.about-card-item {
    background-color: #F4F4F4;
    width: calc((100% - 22px) / 2);
    padding: 30px 20px;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card-text {
    margin-left: 45px;
}

.about-card-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-card-subtitle {
    font-size: 15px;
}

.about-card-title>img {
    margin-left: 10px;
}

.about-card-item>div>img {
    transition: 0.5s ease-in-out;
}

.about-card-item:hover>div>img {
    transform: scale(1.1);
}

/* worry */
.worry {
    width: 100%;
    height: 684px;
    background: linear-gradient(to right, #9886FF, #C9E2FF);
    margin-top: 130px;
}

.worry-title {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 130px 0 50px;
}

.worry-box {
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.worry-emoji01 {
    position: absolute;
    right: 120px;
    top: -26px;
}

.worry-emoji02 {
    position: absolute;
    right: 100px;
    top: -23px;
}

.worry-emoji03 {
    position: absolute;
    left: 30px;
}

.worry-box-wrap {
    position: relative;
    height: 298px;
}

.worry-box {
    box-shadow: 5px 5px 10px #9580FF;
}

.worry-box1 {
    width: 526px;
    height: 128px;
    border-radius: 65px 65px 0 65px;
    position: absolute;
    left: 10%;
    top: 0%;
}

.worry-box2 {
    width: 490px;
    height: 128px;
    border-radius: 65px 65px 65px 0;
    position: absolute;
    right: 10%;
    top: 20%;
}

.worry-box3 {
    width: 604px;
    height: 146px;
    border-radius: 65px 65px 0 65px;
    position: absolute;
    left: 20%;
    top: 55%;
}

.worry-box-text {
    padding: 20px;
}

.worry-box-text03 {
    margin-left: 100px;
}

.worry-box-title {
    font-size: 20px;
    font-weight: 600;
    color: #6A68E0;
    margin-bottom: 10px;
}

.worry-box-subtitle {
    font-size: 14px;
}


/* 구매방식 */
.buy-sec {
    margin-top: 120px;
}

.buy-text {
    text-align: center;
    margin-bottom: 50px;
}

.buy-title {
    font-size: 42px;
    font-weight: 700;
}

.buy-card-wrap {
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
}

.buy-card-item {
    background-color: #F4F4F4;
    width: calc((100% - 22px) / 2);
    padding: 30px 20px;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-card-text {
    margin-left: 45px;
}

.buy-card-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.buy-card-subtitle {
    font-size: 14px;
    margin-bottom: 20px;
}

.buy-card-desc1 {
    font-size: 20px;
    font-weight: 600;
    color: #4845E9;
    margin-bottom: 10px;
}

.buy-card-desc2 {
    font-size: 12px;
    color: #B9B9B9;
}

.buy-card-item>div>img {
    transition: 0.5s ease-in-out;
}

.buy-card-item:hover>div>img {
    transform: scale(1.1);
}

/* procedure */
.pro-box-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.pro-box {
    background-color: #F4F4F4;
    width: calc((100% - 80px) / 5);
    border-radius: 20px;
}

.pro-text {
    text-align: center;
    margin: 130px 0 50px;
}

.pro-title {
    font-size: 42px;
    font-weight: 700;
}

.pro-box {
    text-align: center;
}

.pro-box-text {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 40px;
}

.pro-box>img {
    transition: 0.5s ease-in-out;
}

.pro-box:hover>img {
    transform: scale(1.2);
}


/* product */
/* 탭 */
.tab-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.tab-wrapper {
    display: flex;
    justify-content: center;
}

.tab-btn-group {
    position: relative;
    display: flex;
    background-color: #F4F4F4;
    border-radius: 30px;
    overflow: hidden;
    width: 300px;
}

.tab-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 33.333%;
    height: 100%;
    background-color: #6A68E0;
    border-radius: 30px;
    transition: all 0.3s ease;
    z-index: 0;
}

.tab-btn {
    flex: 1;
    padding: 12px 0;
    background: none;
    border: none;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    z-index: 1;
    cursor: pointer;
    transition: color 0.3s;
}

.tab-btn.active {
    color: #fff;
    font-weight: 600;
}

.product {
    position: relative;
}

.product .container {
    position: relative;
}

.tab-contents {
    position: relative;
    margin-top: 50px;
}

.tab-contents .tab-content.hidden {
    display: none;
}

.tab-contents .tab-content.active {
    display: block;
}

.productSwiper {
    position: relative;
    width: 100%;
}

/* 박스 */
.product-box {
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.phone img {
    width: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.product-box>img {
    height: 180px;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
}

.product-text {
    text-align: center;
}

.product-text-title {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

.product-text-title>span {
    font-size: 14px;
}

.product-text-price {
    font-size: 20px;
    padding-bottom: 20px;
}

.product-text-price del {
    color: #6A68E0;
}

.product-text-sub {
    font-size: 16px;
    padding-bottom: 20px;
    color: #B9B9B9;
}

.product-text-desc {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.product-text-desc>span {
    color: #6A68E0;
}

.product-btn {
    background-color: #6A68E0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    border-radius: 30px;
}

.product-btn:hover {
    background-color: #2a2699;
}

.product-btn-text {
    font-size: 20px;
    font-weight: 500;
}

.product-box:hover>img {
    transform: scale(1.1);
}

/* product 화살표, 페이지네이션 */
.skt-next,
.skt-prev,
.kt-next,
.kt-prev,
.uplus-next,
.uplus-prev {
    color: #6A68E0;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    font-weight: 600;
}

.skt-next,
.kt-next,
.uplus-next {
    top: 60%;
    transform: translateY(-60%);
    right: calc(50% - 650px);
}

.skt-prev,
.kt-prev,
.uplus-prev {
    top: 60%;
    transform: translateY(-60%);
    left: calc(50% - 650px);
}

.skt-control-group.hidden,
.kt-control-group.hidden,
.uplus-control-group.hidden {
    display: none;
}

.skt-pagination,
.kt-pagination,
.uplus-pagination {
    text-align: center;
    margin-top: 10px;
}


/* review */
.review {
    width: 100%;
    position: relative;
}

.review-text {
    text-align: center;
    margin: 130px 0 50px;
}

.review-title {
    font-size: 42px;
    font-weight: 700;
}

.reviewSwiper {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.reviewSwiper .swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.review-box {
    background-color: #F4F4F4;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.review-box img {
    margin-bottom: 10px;
}

.review-name {
    font-size: 16px;
    color: #5E5E5E;
    margin-bottom: 10px;
}

.review-desc {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.star {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.star1,
.star2 {
    font-size: 12px;
}

/* review 화살표 페이지네이션 */
.review-swiper-pagination {
    text-align: center;
    margin-top: 10px;
}

.reviewSwiper+.review-arrow .review-prev {
    top: 70%;
    transform: translateY(-70%);
    left: calc(50% - 650px);
}

.reviewSwiper+.review-arrow .review-next {
    top: 70%;
    transform: translateY(-70%);
    right: calc(50% - 650px);
}

.review-next,
.review-prev {
    color: #6A68E0;
    position: absolute;
    z-index: 10;
    font-weight: 600;
}

/* fast */
.fast {
    width: 100%;
    height: auto;
    background: linear-gradient(to left, #9886FF, #C9E2FF);
    margin-top: 130px;
    padding-bottom: 130px;
}

.fast-title {
    padding-top: 130px;
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.fast-box {
    max-width: 700px;
    background: #fff;
    margin: 30px auto 0;
    text-align: center;
    border-radius: 30px;
}

.fast-box form {
    padding: 60px 90px;
}

.form-group {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}

label {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

input,
select {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f7;
    font-size: 16px;
    color: #333;
    outline: none;
    box-sizing: border-box;
}

input:focus,
select:focus {
    background-color: #fff;
    box-shadow: 0 0 0 2px #A192FF;
}

.agree-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.agree-label input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #A192FF;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    outline: none;
    box-shadow: none;
}

.form-group button {
    width: 100%;
    border: 0;
    background-color: #A192FF;
    color: #fff;
    padding: 10px 0;
    border-radius: 10px;
}

.form-group button:hover {
    background-color: #6A68E0;
}

/* footer */
.footer {
    margin: 40px 0;
    line-height: 1.5;
}

.footer-logo a {
    display: block;
    width: 147px;
    height: 38px;
}

.footer-text>div {
    padding-bottom: 10px;
}

.footer-logo {
    margin-bottom: 16px;
}

.footer-text {
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.footer-list li a {
    margin-right: 15px;
}

.copyright {
    margin-top: 16px;
}

.copyright,
.right {
    color: #777777;
}

.footer-right {
    text-align: right;
}

.right:nth-child(2) {
    margin-bottom: 20px;
}

.call {
    font-weight: 600;
}

.call span {
    font-size: 28px;
    font-weight: 700;
    padding-left: 15px;
}


@media (max-width: 1300px) {

    /* swiper 가리기 */
    .swiper-arrow {
        display: none;
    }
}

@media(max-width: 1200px) {

    /* worry 간격 조정 */
    .worry {
        height: auto;
    }

    .worry-box-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        height: auto;
    }

    .worry-box {
        position: static;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        width: clamp(300px, 75%, 700px);
        padding: 2vw;
        height: 135px;
        box-sizing: border-box;
    }

    .worry-emoji01 {
        left: 10%;
        top: -30px;
    }

    .worry-emoji02 {
        right: 10%;
        top: -30px;
    }

    .worry-emoji03 {
        left: 10%;
        top: -30px;
    }

    .worry-box2>div>h4,
    .worry-box2>div>p {
        text-align: right;
    }

    .worry-box-text03 {
        margin-left: 0;
    }

    .worry-box3 {
        margin-bottom: 130px;
    }
}

@media(max-width: 1024px) {

    /* header */
    body.menu-open::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 10;
    }

    .hamburger-btn {
        display: block;
    }

    .header-nav {
        position: absolute;
        top: 70PX;
        right: 0;
        width: 80vw;
        height: 100vh;
        background-color: rgba(106, 104, 224, 0.9);
        display: none;
        z-index: 10;
        padding: 20px 0 45px;
        box-sizing: border-box;
        z-index: 10;
    }

    .header-nav.on {
        display: block;
    }

    .header-menu {
        flex-direction: column;
        font-size: 20px;
        gap: 70px;
        align-items: center;
        padding-top: 80px;
        width: 100%;
        margin: 0;
        padding-left: 0;
    }

    .header-menu li {
        width: 100%;
    }

    .header-menu li a {
        color: #fff;
        display: block;
        padding: 30px 0;
        text-align: center;
        text-decoration: none;
    }

    .header-menu li:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .header-menu li:hover a {
        color: #fff;
        font-weight: 400;
    }

    /* kv */
    .kv-sec>.container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .kv-text {
        margin: 0 auto 30px auto;
        width: 100%;
        max-width: 500px;
    }

    .kv-image {
        margin: 0 auto;
        width: max-content;
    }

    .kv-image img {
        width: 80%;
        max-width: 500px;
        margin: 0 auto;
    }

    .kv-btn-sec {
        justify-content: center;
    }

    .kv-title {
        font-size: 42px;
    }

    .kv-desc {
        font-size: 25px;
    }

    .kv-btn {
        font-size: 16px;
    }


    /* about */
    .about-title {
        font-size: 36px;
    }

    .about-subtitle {
        size: 28px;
    }

    .about-card-title {
        font-size: 22px;
    }

    .about-card-text {
        margin-left: 10px;
    }

    .about-icon>img {
        width: 130px;
    }

    .about-card-title>img {
        width: auto;
        height: 22px;
        object-fit: cover;
    }

    /* worry */
    .worry-title {
        font-size: 36px;
    }

    .worry-emoji>img {
        width: 65px;
    }

    /* buy */
    .buy-icon>img {
        width: 130px;
    }

    .buy-title {
        font-size: 36px;
    }

    .buy-card-title {
        font-size: 22px;
    }

    .buy-card-text {
        margin-left: 10px;
    }

    .buy-card-desc1 {
        font-size: 18px;
    }

    /* procedure */
    .pro-title {
        font-size: 36px;
    }

    .pro-box-text {
        font-size: 18px;
    }

    .pro-box>img {
        width: 150px;
    }

    /* tab */
    .tab-btn {
        font-size: 20px;
    }

    /* product */
    .product-box>img {
        height: 140px;
    }

    .product-text-title {
        font-size: 18px;
    }

    .product-text-price {
        font-size: 18px;
    }

    .product-text-desc {
        font-size: 20px;
    }

    .product-btn-text {
        font-size: 18px;
    }

    .phone img {
        width: 20px;
    }

    /* review */
    .review-title {
        font-size: 36px;
    }

    .review-name {
        font-size: 14px;
    }

    .review-desc {
        font-size: 14px
    }

    /* form */
    .fast-title {
        font-size: 36px;
    }
}

@media(max-width: 768px) {

    /* kv */
    .kv-sec>.container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .kv-text {
        margin: 0 auto 30px auto;
        width: 100%;
    }

    .kv-image img {
        width: 75%;
        max-width: 450px;
    }

    .kv-btn-sec {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .kv-title {
        font-size: 34px;
    }

    .kv-desc {
        font-size: 20px;
    }

    .kv-btn {
        font-size: 16px;
    }


    /* about */
    .about-title {
        font-size: 32px;
    }

    .about-card-text {
        margin-left: 0;
        text-align: center;
    }

    .about-icon>img {
        width: 100px;
    }

    .about-card-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* worry */
    .worry-title {
        font-size: 32px;
    }

    .worry-box {
        width: clamp(300px, 80%, 700px);
    }

    .worry-box-title {
        font-size: 20px;
    }

    .worry-emoji>img {
        width: 55px;
    }

    .worry-emoji01 {
        left: 10%;
        top: -30px;
    }

    .worry-emoji02 {
        right: 10%;
        top: -30px;
    }

    .worry-emoji03 {
        left: 10%;
        top: -30px;
    }

    /* buy */
    .buy-card-item {
        display: flex;
        flex-direction: column;
    }

    .buy-icon>img {
        width: 100px;
    }

    .buy-title {
        font-size: 32px;
    }

    .buy-card-title {
        font-size: 20px;
    }

    .buy-card-text {
        margin-left: 0;
    }

    .buy-card-desc1 {
        font-size: 16px;
    }

    /* procedure */
    .pro-box {
        width: calc((100% - 40px) / 3);
    }

    .pro-title {
        font-size: 32px;
    }

    .pro-box-text {
        font-size: 18px;
    }

    .pro-box>img {
        width: 130px;
    }

    /* product */
    .productSwiper .swiper-slide {
        width: 50% !important;
        box-sizing: border-box;
    }

    .product-box>img {
        height: 130px;
    }

    .product-text-title {
        font-size: 16px;
    }

    .product-text-title span {
        font-size: 12px;
    }

    .product-text-price {
        font-size: 16px;
    }

    .product-text-desc {
        font-size: 18px;
    }

    .product-btn-text {
        font-size: 16px;
    }

    .product-btn-text {
        font-size: 16px;
    }

    /* review */
    .reviewSwiper .swiper-slide {
        width: 50% !important;
        box-sizing: border-box;
    }

    .star {
        display: flex;
        flex-direction: column;
    }

    .review-title {
        font-size: 32px;
    }

    /* form */
    .fast-title {
        font-size: 32px;
    }

    .fast-box form {
        padding: 40px 30px;
    }

    input,
    select {
        padding: 12px;
        font-size: 15px;
    }

    /* footer */
    .footer-text>div {
        padding: 0;
    }

    .footer-list li a {
        margin-right: 10px;
    }

    .footer-text {
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }

    .footer-right {
        text-align: left;
    }

    .footer-left {
        margin-top: 16px;
    }

    .call {
        font-weight: 600;
    }

    .call span {
        font-size: 24px;
    }
}

@media (max-width: 480px) {

    /* header */
    .header-menu {
        gap: 50px;
        padding-top: 30px;
    }

    .logo img {
        height: 40px;
    }

    .header-menu {
        font-size: 18px;
    }

    /* kv */
    .kv-image img {
        width: 60%;
        max-width: 350px;
    }

    .kv-btn-sec {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .kv-title {
        font-size: 28px;
    }

    .kv-desc {
        font-size: 18px;
    }

    .kv-btn {
        font-size: 14px;
    }

    /* about */
    .about-card-wrap {
        flex-direction: column;
    }

    .about-card-item {
        width: 100%;
        flex-direction: row;
        padding: 20px 10px;
        justify-content: space-evenly;
    }

    .about-card-text {
        text-align: left;
    }

    .about-title {
        font-size: 24px;
    }

    .about-subtitle {
        font-size: 18px;
    }

    .about-card-title {
        font-size: 16px;
    }

    .about-card-title>img {
        width: auto;
        height: 16px;
        object-fit: cover;
    }

    .about-card-subtitle {
        font-size: 14px;
    }

    /* worry */
    .worry-title {
        font-size: 24px;
    }

    .worry-box-title {
        font-size: 14px;
    }

    .worry-box-subtitle {
        font-size: 12px;
    }

    .worry-emoji img {
        width: 45px;
    }

    .worry-emoji01 {
        left: 15%;
        top: -20px;
    }

    .worry-emoji02 {
        right: 15%;
        top: -20px;
    }

    .worry-emoji03 {
        left: 15%;
        top: -20px;
    }

    /* buy */
    .buy-card-wrap {
        flex-direction: column;
    }

    .buy-card-item {
        width: 100%;
        flex-direction: row;
        padding: 20px 10px;
        justify-content: space-evenly;
    }

    .buy-title {
        font-size: 24px;
    }

    .buy-card-title {
        font-size: 16px;
    }

    .buy-card-subtitle {
        font-size: 12px;
    }

    .buy-card-desc1 {
        font-size: 14px;
    }

    .buy-card-desc2 {
        font-size: 10px;
    }

    /* procedure */
    .pro-box {
        width: calc((100% - 20px) / 2);
        display: flex;
        align-items: center;
    }

    .pro-title {
        font-size: 24px;
    }

    .pro-box-text {
        font-size: 14px;
        padding: 0;
        text-align: left;
    }

    .pro-box>img {
        width: 80px;
    }

    /* product */
    .tab-btn {
        font-size: 16px;
    }

    .product-text-title {
        font-size: 14px;
    }

    .product-text-title span {
        font-size: 10px;
    }

    .product-text-price {
        font-size: 16px;
    }

    .product-text-sub {
        font-size: 10px;
    }

    .product-text-desc {
        font-size: 14px;
    }

    .product-btn-text {
        font-size: 12px;
    }

    .phone img {
        width: 15px;
        margin-bottom: 15px;
    }

    /* review */
    .review-title {
        font-size: 24px;
    }

    .review-name {
        font-size: 12px;
    }

    .review-desc {
        font-size: 12px;
    }

    .star {
        display: flex;
        flex-direction: column;
    }

    /* form */
    .fast-title {
        font-size: 24px;
    }

    input,
    select,
    label {
        font-size: 14px;
    }

    .time {
        font-size: 16px;
        font-weight: 600;
    }

    /* footer */
    .footer-list li a {
        margin-right: 5px;
    }

    .footer-logo img {
        width: 100px;
    }

    .footer-text {
        font-size: 12px;
    }

    .call span {
        font-size: 18px;
    }
}